<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Annie's Task Manager | Welcome</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section class="login-bg">
        <h1>Welcome, {{name}}!</h1>
        <div class="login-form">
            <p>You should receive a welcome email, if you can't find it, check your spam folder.</p>
            <p>You can go back and log in with your user name, email and password you just created.</p>
            <div class="input-group">
                <a href="/users/login" class="button">Go back to Log in</a>
            </div>
        </div>
    </section>
</body>

</html>